<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>Edit the Animals in Shelter</h1>
        <form action="/animals/<%=animals.id%>?_method=PUT" method="POST">
    		<!--  NOTE: the form is pre-populated with values for the server-->
    		Name: <input type="text" name="Name" value="<%=animal.name%>"/><br/>
            Breed: <input type="text" name="Breed" value="<%=animal.breed%>"/><br/>
            Color: <input type="text" name="Color" value="<%=animal.color%>"/><br/>
    		Are they ready for adoption:
            <input type="checkbox" name="upForAdoption"
                <% if(animals.upForAdoption === true){ %>
                    checked
                <% } %>
            />
            <br/>
            <input type="submit" name="" value="Submit Changes"/>
        </form>
    </body>
</html>