<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Animal Show Page</h1>
  <%=animals.name; %>
    <%=animals.breed; %>
    <%=animals.color; %>
  
  
  <nav>
    <a href="/animals">Back to the Animals Index</a>
  </nav>
</body>

</html>