<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <title>Pokemon!</title>
    <style type="text/css">
        body {
          color: blanchedalmond;
          background-color: steelblue;
          font-family: 'Press Start 2P', cursive;
        }
      </style>
</head>
<body>
    <h1> See All The Pokemon!</h1>
    
</body>
</html>