<h1>Add a New Pokemon to Your Pokedex:</h1>
<form action="/pokemon" method="POST">
	<p>
	  <label for="name">Name:</label>
	  <input id="name" name="name" type="text">
	</p>
	<p>
	  <label for="type">Type:</label>
	  <input id="type" name="type" type="text">
	</p>
	<input type="submit" value="Add Your Pokemon!">
</form>