h1 {
    font-family: Arial;
    color: #0B42DB;
}

ul {
    font-size: 24;
    list-style-type: none;
    text-align: center;
}

h4 {
    margin-bottom: 0px;
}

h5 {
    font-size: 22px;
}

p {
    margin-bottom: 0px;
}

a {
    text-decoration: none;
    color: lightgray;
}

.header-container {
    display: inline;
}

.blud-square-container {
    text-align: center; 
    width: 100%;
    box-sizing: inherit;
}

.blue-square {
    background-color: #0B42DB;
    width: 95%;
    height: 900px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.get-covered, .feel-better {
    color: white;
    font-size: 80px;
    font-weight: bold;
}

.get-covered {
    position: absolute;
    left: 200px;
    top: 350px;

}

.feel-better {
    position: absolute;
    left: 200px;
    top: 450px;
}

.msg {
    position: absolute;
    left: 200px;
    top: 575px;
    color: white;
    font-size: 42px;
    font-weight: 200px;
    font-family: Arial, Helvetica, sans-serif;
}

.quote-button {
    position: absolute;
    width: 300px;
    height: 110px;
    left: 200px;
    top: 850px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    border-radius: 10px;
    color: #0B42DB;
}


.concierge, .on-call, .family{
    border: 1px solid #E5E8EA;
    display: inline-block;
    text-align: center;
    clear: left;
}

.concierge {
    position: relative;
}

.products, .features, .company, .resources, .legal {
    display: inline-block;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.learn-more {
    display: block;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 125px;
    height: 32px;
    border: 1px solid #A4ABB1;
    color: #A4ABB1;
    border-radius: 5px;

}

.img-container {
    text-align: center;
}

.member {
    text-align: center;
    font-size: 24px;
    color: #A4ABB1;
    margin-top: 100px;
    font-weight: 200;
}

.plan {
    text-align: center;
    font-size: 42px;
    color: black;
    font-weight: bold;
    margin-top: 20px;    
}

.buttons {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.for-you, .for-business {
    width: 300px;
    height: 65px;
    border-radius: 5px;
    font-size: 18px;
}

.for-you {
    color: #A4ABB1;
    background-color: #0B42DB; 
}

.for-business {
    color: #0B42DB;
    border: 1px solid #E5E8EA;
}

.footer-container {
   text-align: center;
   border-top: 1px solid #E5E8EA;
   display: inline-block;
   padding: 0;
   margin: 0;

}

.clearfix {
    overflow: auto;
  }